<div class="wrapper" [ngClass]="currentMode">
  <main class="container">
    <div class="backbtn-wrapper">
      <button aria-label="Back" class="back-button" (click)="goBack()">
        <mat-icon>west</mat-icon>
        Back
      </button>
    </div>
    <div class="details-wrapper">
      <div class="flag-wrapper">
        <img mat-card-image src="{{country.flagUrl}}" alt="{{country.name.common}} flag">
      </div>
      <div class="country-info">
        <ng-container *ngIf="country">
          <h1 class="title">{{country.name.common}}</h1>
        </ng-container>
        <div class="details">
          <div>
            <p><strong>Native Name:</strong> {{country.nativeName}}</p>
            <p><strong>Population:</strong> {{country.population}}</p>
            <p><strong>Region:</strong> {{country.region}}</p>
            <p><strong>Sub Region:</strong> {{country.subregion}}</p>
            <p><strong>Capital:</strong> {{country.capital}}</p>
          </div>
          <div>
            <p><strong>Top Level Domain:</strong> {{country.tld}}</p>
            <p><strong>Currencies:</strong> {{country.currencies}}</p>
            <p><strong>Languages:</strong> {{country.languages}}</p>
          </div>
        </div>
        <div class="borders">
          <p><strong>Borders:</strong> {{country.borders}}</p>
        </div>
      </div>
    </div>
  </main>
</div>