.light {
  background-color: #fff;
}

.dark {
  background-color: rgb(32, 44, 55);
  color: #fff;
}

.back-button {
  display: flex;
  justify-content: center;
  margin: 0 30px 40px;
  border: none;
  border-radius: 3px;
  padding: 3px 20px;
  cursor: pointer;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;

  .country-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px;

    .country-info {
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      .title {
        margin-bottom: 18px;
      }

      .details {
        display: flex;
        flex-direction: row;
        gap: 40px;
      }

      .borders {
        margin-top: 20px;
      }
    }
  }
}