<mat-toolbar class="toolbar" [ngClass]="currentMode">
  <p class="logo">Where in the world?</p>
  <span class="example-spacer"></span>
  <app-darkmode-toggle></app-darkmode-toggle>
</mat-toolbar>

<main class="container" [ngClass]="currentMode">

  <div class="grid-header">
    <div class="searchbox">
      <mat-icon class="icon" [ngClass]="currentMode">search</mat-icon>
      <input type="text" placeholder="Search for a country..." class="search" [ngClass]="currentMode" />
    </div>
    <div>
      <mat-form-field>
        <mat-label>Filter by Region</mat-label>
        <mat-select [(value)]="selectedRegion" class="region-dropdown" panelClass="{{currentMode}}">
          <mat-option *ngFor="let reg of regions" [value]="reg">
            <span class="reg-option">{{reg}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <section class="countries-list">
    <app-country-card *ngFor="let ct of countries" name="{{ct.name.common}}" population="{{ct.population}}"
      capital="{{ct.capital}}" region="{{ct.region}}" flag="{{ct.flagUrl}}">
    </app-country-card>
  </section>

</main>