.example-spacer {
  flex: 1 1 auto;
}

.logo {
  font-weight: 800;
}

.grid-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  .region-dropdown {
    width: 100%;

    &.dark {
      &.mat-mdc-select-panel {
        background: rgb(43, 57, 69);
      }
    }
  }
}

.searchbox {
  position: relative;

  .icon {
    position: absolute;
    top: 14px;
    left: 18px;

    &.dark {
      color: white;
      background-color: rgb(43, 57, 69);
    }
  }

  .search {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 16px 0 16px 60px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.26);
    box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.26);

    &.dark {
      background-color: rgb(43, 57, 69);
      color: #fff;
    }
  }

  .search:focus {
    outline: 0;
  }
}

.container {
  max-width: 1440px;
  padding: 40px 20px;
  margin: 0 auto;

  .countries-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 20px 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .container {
    padding: 40px 60px;

    .countries-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
      margin: 20px 0;
    }
  }

  .grid-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .region-dropdown {
      max-width: 240px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 40px 60px;

    .countries-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
    }

    .grid-header {
      .search {
        width: 400px;
      }
    }
  }
}

/* Large Devices, Wide Screens*/
@media only screen and (min-width: 1200px) {
  .container {
    padding: 40px 60px;

    .countries-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 60px;
    }
  }
}

.toolbar {
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.39);

  &.dark {
    background-color: rgb(43, 57, 69);
    color: #fff;
  }
}

.light {
  background-color: #fff;
}

.dark {
  background-color: rgb(32, 44, 55);
}